<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IPhekoService" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:53085/PhekoService.svc" binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding_IPhekoService" contract="PhekoService.IPhekoService"
                name="BasicHttpBinding_IPhekoService" />
        </client>
    </system.serviceModel>
</configuration>