@using Pheko.WebPresentation.ViewModels;

@model PatientMedicalMonitoringViewModel

<div class="panel panel-primary">

    <div class="panel-body">
        <div class="formcontent container-fluid" ng-repeat="patientmedicalmonitoring in patientmedicalmonitorings">
            <div class="col-md-12">
                <div class="form-group">
                    <label class="col-sm-2 control-label">{{patientmedicalmonitoring.MedicalMonitoring_Name}}</label>
                    <div class="col-sm-10">
                        @Html.TextAreaFor(model => model.MedicalMonitoringValue, new { @class = "form-control", ng_model = "patientmedicalmonitoring.MedicalMonitoringValue" })
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
